.message-container{
  overflow-y: auto;
  height: calc(100vh - 200px); //todo
  margin-top: 20px;
}

.message-constructor{
  width: 70%;
  position: absolute;
  bottom: 0;

  .msg-area{
    width: 100%;
  }

  .send-button{
    align-items: center;
  }
}
