<section class="chat-page-content">
  <ng-container *ngIf="selectedDialog">

    <ng-container *ngIf="detailedDialog && detailedDialog.messages && detailedDialog.messages?.length > 0">
      <div class="message-container">
        <ng-container *ngFor="let message of detailedDialog.messages">
          <div *ngIf="message">
            Date: {{message?.dateTime | date:'short'}} <br>
            Msg: {{message?.text}} <br>
            Owner: {{message?.ownerId}} <br>
            <br>
            <br>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <form [formGroup]="form" (ngSubmit)="sendMessage()">
      <div class="message-constructor">
        <div class="chat-flex-row msg-area">
          <div class="msg-area">
            <mat-form-field appearance="fill" class="msg-area">
              <mat-label>Type message</mat-label>
              <textarea matInput (keyup.enter)="sendMessage()" placeholder="Ex. Hello..." [formControl]="messageControl"></textarea>
            </mat-form-field>
          </div>
          <div class="mg-l27 chat-flex send-button">
            <div>
              <button mat-raised-button type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </ng-container>
  <ng-container *ngIf="!selectedDialog">
    <div class="no-content-message">Choose dialog or create new</div>
  </ng-container>

</section>
