.selected-dialog-color {
  background: #a7e5ff !important;
}

.dialog-card{
  margin: 16px 16px 16px 16px;
  box-shadow: none;
  background: #F4F4F4;
  min-width: 300px;
}

.dialog-card:hover{
  cursor: pointer;
  background-color: #dcdbdb;
}
