<mat-card class="dialog-card" [ngClass]="{'selected-dialog-color': isSelected === true}" (click)="openExisting(dialog)">
  <mat-card-header>
    <mat-card-title>
      With whom: {{findParticipant(dialog.participants).userName}}
    </mat-card-title>
    <mat-card-subtitle>
      {{dialog.lastMessage?.dateTime| date:'short'}}
    </mat-card-subtitle>
  </mat-card-header>
  <span>{{dialog.lastMessage !== null ? dialog.lastMessage.text : 'Dialog empty'}}</span>
</mat-card>


