mat-toolbar {
  position: relative;
  z-index: 100;

  .logo-btn{
    text-decoration: none;
    font-size: 20px;
  }

  .logo-btn:hover{
    background: rgba(0,0,0,.4);
  }

  .user-info-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;

    .divider{
      font-size: 16px;
      padding-top: 2px;
    }

    .divider-btn-left{
      margin-left: 14px;
    }

    .divider-btn-right{
      margin-left: 28px;
    }

    .username-icon-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 28px;
    }

    .user-info-action-btn{
      margin-left: 12px;
      font-size: 14px;
    }

    .user-info-action-btn:hover{
      background: rgba(0,0,0,.4);
    }

    .username-info{
      padding-top: 2px;
    }
  }
}

mat-sidenav-container{
  mat-sidenav {
    width: 130px;
    border: 0;

    .sidenav-container{
      margin-top: 60px;
    }
  }

  mat-sidenav-content {
    width: auto;
  }
}

.app-footer {
  display: flex;
  align-items: center;
  flex-direction: row;

  p {
    margin: 0;
  }
}


