<mat-toolbar class="chat-main-header mat-elevation-z4 bg-primary-900">
  <mat-toolbar-row class="chat-inner">
    <span>Chat App</span>

    <span class="chat-flex-fill"></span>

    <div class="user-info-container" *ngIf="currentUser">
      <div class="username-icon-container">
        <mat-icon >person</mat-icon>
        <span class="username-info">
        {{currentUser.userName}}
      </span>
      </div>
      <span class="divider divider-btn-right">|</span>
      <a class="user-info-action-btn" mat-button (click)="logout()">logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="chat-main-container">
  <mat-sidenav opened mode="side" class="bg-primary-100">
    <div class="sidenav-container">
      <mat-nav-list >
        <a mat-list-item routerLink="/user" routerLinkActive="chat-active-menu">
          <mat-icon matListIcon>person</mat-icon> <span class="nav-caption">User</span>
        </a>
        <a mat-list-item routerLink="/dialog" routerLinkActive="chat-active-menu">
          <mat-icon matListIcon>settings_suggest</mat-icon> <span class="nav-caption">Dialogs</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="chat-app-background">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<footer class="chat-main-footer app-footer bg-primary-500">
  <span>© 2022 </span> <span class="mg-l27"> Chat App</span>
</footer>

