@use '@angular/material' as mat;
@use './styles_layout' as chatLayout;
@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme(( color: ( primary: $primary, accent: $accent )));

$config: mat.get-color-config($theme);
$background: map.get($config, background);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.

/*
    All available components themes:

  ripple-theme
  option-theme
  optgroup-theme
  pseudo-checkbox-theme
  focus-indicators-theme
  autocomplete-theme
  badge-theme
  bottom-sheet-theme
  button-theme
  button-toggle-theme
  card-theme
  checkbox-theme
  chips-theme
  datepicker-theme
  dialog-theme
  divider-theme
  expansion-theme
  form-field-theme
  grid-list-theme
  icon-theme
  input-theme
  list-theme
  menu-theme
  paginator-theme
  progress-bar-theme
  progress-spinner-theme
  radio-theme
  select-theme
  sidenav-theme
  slide-toggle-theme
  slider-theme
  snack-bar-theme
  sort-theme
  stepper-theme
  table-theme
  tabs-theme
  toolbar-theme
  tooltip-theme
  tree-theme
*/

@include mat.toolbar-theme($theme);
@include mat.button-theme($theme);
@include mat.stepper-theme($theme);
@include mat.input-theme($theme);
@include mat.form-field-theme($theme);
@include mat.progress-bar-theme($theme);
@include mat.list-theme($theme);
@include mat.option-theme($theme);
@include mat.optgroup-theme($theme);
@include mat.menu-theme($theme);
@include mat.select-theme($theme);
@include mat.progress-bar-theme($theme);
@include mat.progress-spinner-theme($theme);
@include mat.sidenav-theme($theme);
@include mat.slider-theme($theme);
@include mat.slide-toggle-theme($theme);
@include mat.snack-bar-theme($theme);
@include mat.divider-theme($theme);
@include mat.table-theme($theme);
@include mat.dialog-theme($theme);
@include mat.tabs-theme($theme);
@include mat.tooltip-theme($theme);
@include mat.checkbox-theme($theme);

// Include the theme mixins for other components you use here.

.bg-accent-300 {
  background: mat.get-color-from-palette($accent, 300);
}

.bg-primary-900 {
  color: mat.get-color-from-palette($primary, '900-contrast');
  background: mat.get-color-from-palette($primary, 900);
}

.bg-primary-500 {
  color: mat.get-color-from-palette($primary, '500-contrast');
  background: mat.get-color-from-palette($primary, 500);
}

.bg-primary-300 {
  color: mat.get-color-from-palette($primary, '300-contrast');
  background: mat.get-color-from-palette($primary, 300);
}

.bg-primary-200 {
  color: mat.get-color-from-palette($primary, '200-contrast');
  background: mat.get-color-from-palette($primary, 200);
}

.bg-primary-100 {
  color: mat.get-color-from-palette($primary, '100-contrast');
  background: mat.get-color-from-palette($primary, 100);
}

.bg-primary-50 {
  color: mat.get-color-from-palette($primary, '50-contrast');
  background: mat.get-color-from-palette($primary, 50);
}

.bg-secondary {
  background: mat.get-color-from-palette($background, hover);
}

.bg-dialog {
  background: mat.get-color-from-palette($background, background);
}

.bg-secondary-hover:hover {
  background: mat.get-color-from-palette($background, hover);
}

.color-accent-500 {
  color: mat.get-color-from-palette($accent, 500);
}

.color-accent-400 {
  color: mat.get-color-from-palette($accent, 400);
}

.color-accent-900 {
  color: mat.get-color-from-palette($accent, 900);
}

.mat-horizontal-content-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 20px !important;
}

.chat-app-background {
  background: mat.get-color-from-palette($background, card);
}

@include chatLayout.theme($theme);
