@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';

$typography: mat.define-typography-config();

@mixin theme($theme) {

  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  .chat-sticky {
    position: sticky;
  }

  .chat-fixed {
    position: fixed;
  }

  .chat-flex {
    display: flex;
  }

  .chat-flex-row {
      @extend .chat-flex;
      flex-direction: row;
  }

  .chat-flex-column {
    @extend .chat-flex;
    flex-direction: column;
  }

  .mg-t20 {
    margin-top: 20px;
  }

  .mg-t10 {
    margin-top: 10px;
  }

  .mg-l27 {
    margin-left: 27px;
  }

  .chat-flex-fill {
    flex: 1;
  }

  .chat-flex-align-center {
    align-items: center;
  }

  .chat-cursor-pointer {
    cursor: pointer;
  }

  .chat-block {
    display: block;
  }

  .chat-full-height {
    height: 100%;
  }

  .chat-layer-regular {
    z-index: 100;
  }

  .chat-layer-accent {
    z-index: 1000;
  }

  .chat-layer-overlay {
    z-index: 10000;
  }

  $content-hor-padding: 25px;
  $sidebar-width: 130px;
  $main-cta-size: 40px; // this is material mini-FAB button size
  $main-header-height: 64px; // this is material toolbar height
  $main-footer-height: 30px;
  $page-footer-height: 55px;

  /*
   * Common Layout Components
   */

  .chat-main-header {
    .chat-inner {
      padding-left: $sidebar-width + $content-hor-padding;
      padding-right: $content-hor-padding;
    }

    .chat-main-cta {
      position: fixed;
      left: ($sidebar-width - $main-cta-size) / 2;
      top: $main-header-height - $main-cta-size / 2;
    }
  }

  .chat-main-container {
    height: calc(100vh - #{$main-header-height} - #{$main-footer-height});
  }

  .chat-main-footer {
    height: $main-footer-height;
    padding-left: $sidebar-width + $content-hor-padding;
    padding-right: $content-hor-padding;
    display: flex;
    font-size: 0.8em;
  }

  .chat-page-header {
    padding: 25px $content-hor-padding 20px $content-hor-padding;
    margin: 0;

    &.chat-sticky {
      position: sticky;
      top: 0;
      z-index: 1000;
      background: #FFFFFF;
    }

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .chat-page-content {
    padding-left: $content-hor-padding;
    padding-right: $content-hor-padding;
  }

  .chat-view-area {
    display: block;

    &.chat-with-footer {
      padding-bottom: $page-footer-height;
    }
  }


  .chat-page-component {
    /* Defines vertical spacing between content blocks */
    margin-bottom: 16px;
  }

  .no-content-message{
    padding-left: 46%;
    margin-top: 300px;
    @include mat.typography-level($typography, 'body-2');
  }

  .chat-subheader {
    @extend .chat-page-component;
  }

  .chat-sticky-filler {
    /* Just make component to fill entire container to push sticky thing to the bottom (if needed) */
    min-height: calc(100vh - #{$main-header-height} - #{$main-footer-height} - #{$page-footer-height});
  }

  .chat-page-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: $content-hor-padding;
    color: mat.get-color-from-palette($primary-palette, '50-contrast');
    background: mat.get-color-from-palette($primary-palette, 50);
    height: $page-footer-height;

    &.chat-sticky,
    &.chat-fixed {
      bottom: 0;
      @extend .chat-layer-accent;
    }

    &.chat-fixed {
      left: $sidebar-width;
      right: 0;
      bottom: $main-footer-height;
    }
  }
}
