:host {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}

.comp-loading-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
}
