.mat-card {
  width: 300px;
  margin: 10% 20px 20px 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comp-field {
      width: 100%;
  }
}
