<mat-card class="app-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <mat-form-field class="comp-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>

      <mat-form-field class="comp-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <button mat-raised-button>
        Log in
      </button>
    </div>
  </form>

</mat-card>

