.content-container{
  min-height: 100%;

  aside {
    flex: 0 0 400px;
    background: lighten(#c6fff1, 10%);

    .dialog-list{
      overflow-y: auto;
      height: calc(100vh - 176px); //todo
    }
  }

  main {
    flex: 1;
    background: lighten(#ffbcbc, 10%);
  }
}


