<app-loading-container [loading]="dialogContentLoading">
  <section class="chat-flex-row content-container">
    <aside>
      <div class="chat-flex-row" style="margin-top: 16px; margin-left: 16px;">
        <div class="chat-flex" style="align-items: center;">
          <button mat-raised-button (click)="startDialog()" [disabled]="!searchSelectControl.value">Start New Dialog</button>
        </div>
        <div class="mg-l27">
          <mat-form-field>
            <mat-select [formControl]="searchSelectControl" placeholder="Search...">
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="searchFieldControl"
                  [searching]="searching"
                  (ngModelChange)="searchFieldChange($event)"
                  placeholderLabel="Find user..."
                  noEntriesFoundLabel="no matching user found"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let user of filteredUsers" [value]="user">
                {{user.userName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="dialog-list">
        <ng-container *ngIf="dialogs.length > 0 ">
          <ng-container *ngFor="let dialog of dialogs">
            <app-dialog-item [dialog]="dialog" (dialogSelected)="onDialogSelected($event)" [isSelected]="dialog.id === selectedDialog?.id"></app-dialog-item>
          </ng-container>
        </ng-container>
      </div>



    </aside>
    <main>
      <app-message-process [selectedDialog]="selectedDialog" [currentUser]="currentUser"></app-message-process>
    </main>
  </section>
</app-loading-container>

